<template>
  <b-container fluid="true" pl-0 pr-0>
    <b-row no-gutters>
      <b-col class="pr-0">
        <nav v-b-toggle="'collapse-2'" class="navbar navbar-dark bg-dark pb-0 pt-0 pl-0 ">
          <div class="container-fluid">
            <button ref="btn-toogler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
        <b-collapse id="collapse-2" style="z-index: 100">
          <transition name="fade">
            <div>
              <b-nav class="bg-light left-navbar text-center" style="z-index: 100; position: fixed; display: block"
                     toggleable="md">
                <b-navbar-nav>
                  <b-nav-item>
                    <router-link to="/token-encoder">
                      <b-button
                          @click="refreshTokenInfo"
                          variant="outline-info"
                          style="width: 183px"
                      >
                        <b-icon icon="lock" variant="primary"></b-icon>
                        Token encoder
                      </b-button>
                    </router-link>
                  </b-nav-item>
                  <b-nav-item v-if="user">
                    <router-link to="/poll-service">
                      <b-button
                          @click="hideLeftNavbar"
                          variant="outline-info"
                          style="width: 183px"
                      >
                        <b-icon icon="plus" variant="primary"></b-icon>
                        Create new survey
                      </b-button>
                    </router-link>
                  </b-nav-item>
                  <b-nav-item>
                    <router-link to="/survey-lists">
                      <b-button
                          @click="openSurveyLists"
                          variant="outline-info"
                          style="width: 183px"
                      >
                        <b-icon class="pr-4" icon="list" variant="primary"></b-icon>
                        List of surveys
                      </b-button>
                    </router-link>
                  </b-nav-item>
                  <b-nav-item v-if="isUserIsOwner">
                    <router-link to="/users-management">
                      <b-button
                          @click="hideLeftNavbar"
                          variant="outline-info"
                          style="width: 183px"
                      >
                        <b-icon icon="person" variant="primary"></b-icon>
                        Dashboard Users
                      </b-button>
                    </router-link>
                  </b-nav-item>
                </b-navbar-nav>
              </b-nav>
            </div>
          </transition>
        </b-collapse>
      </b-col>
      <b-col class="pl-0">
        <b-navbar class="pt-0 pb-0" style="height: 40px" type="dark" variant="dark">
          <b-navbar-nav class="ml-auto">

            <router-link to="/my-account">
              <b-button class="d-none d-sm-block" v-if="this.user" size="sm" variant="dark">
                <b-icon icon="gear-fill" aria-hidden="true"></b-icon>
                Account Settings
              </b-button>
            </router-link>
            <router-link v-if="this.user" to="/my-account">
              <b-button class="d-block d-sm-none" size="sm" variant="dark">
                <b-icon icon="gear-fill" aria-hidden="true"></b-icon>
                Settings
              </b-button>
            </router-link>

            <div v-else>
              <router-link to="/sign-in">
                <b-button class="d-none d-sm-block" variant="dark" type="dark" size="md">
                  <b-icon icon="power" aria-hidden="true"></b-icon>
                 Sig In/Sign Up
                </b-button>
              </router-link>
              <router-link to="/sign-in">
              <b-button class="d-block d-sm-none" variant="dark" type="dark" size="md">
                <b-icon icon="power" aria-hidden="true"></b-icon>
                  Sig In/Up
              </b-button>
              </router-link>
            </div>
          </b-navbar-nav>

        </b-navbar>
      </b-col>
    </b-row>
    <b-container fluid="true" class="mt-4">
      <router-view/>
    </b-container>
    <b-navbar v-if="user" class="pb-0 pt-0 fixed-bottom" type="dark" variant="dark">
      <small v-if="user.login" class="navbar-brand">{{ user.login }}</small>
      <small v-else class="navbar-brand">{{ user.email }}</small>
      <small v-if="userRole" class="m-auto navbar-brand">{{ this.userRole.name }}</small>
      <b-button @click="signOut" variant="dark" size="md">
        <b-icon icon="power" aria-hidden="true"></b-icon>
        Sign out
      </b-button>

    </b-navbar>
  </b-container>

</template>

<script>

import UserDataService from "@/services/UserDataService";
import {bus} from './main';

export default {
  name: 'App',
  components: {},

  async mounted() {
    bus.$on('sign-in', async (data) => {
      this.user = data;
      if (this.user) {
        this.userRole = await UserDataService.getRole(this.user.roleId);
        this.isUserIsOwner = await UserDataService.checkIfUserIsOwner(this.user.id);
      }
    });

    bus.$on('account-changed', (data) => {
      this.user = data;
    })


    this.user = await UserDataService.getUserSession();
    if (this.user) {
      this.userRole = await UserDataService.getRole(this.user.roleId);
      this.isUserIsOwner = await UserDataService.checkIfUserIsOwner(this.user.id);
    }
  },

  methods: {
    hideLeftNavbar() {
      this.$refs["btn-toogler"].click();
    },

    async refreshTokenInfo(){
      await bus.$emit('refresh-token-info');
      this.hideLeftNavbar();
    },

    async openSurveyLists() {
      await bus.$emit('open-survey-lists');
      this.hideLeftNavbar();
    },

    async signOut() {
      await UserDataService.signOut();
      window.location.href = "http://localhost:8081/";
    }
  },

  data: () => ({
    isUserIsOwner: false,
    user: null,
    userRole: null,
  })

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@media (max-width: 575px) {
  .left-navbar {
    width: 60%;
    height: 100vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .left-navbar {
    width: 30%;
    height: 100vh;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .left-navbar {
    width: 20%;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .left-navbar {
    width: 20%;
    height: 100vh;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0
}

</style>
