<template>
  <div class="poll-view" v-if="visible">
    <b-container style="margin-top: -30px">
      <b-row>
        <b-col cols="12" class="text-center" style="font-size: 17px">Question {{actualQuestionNumber}} of {{numberOfQuestions}}
        </b-col>
      </b-row>
    </b-container>
    <div class="poll-view__title" v-html="poll.question"></div>
    <div v-if="!result" class="poll-view__inner">
      <div class="poll-view__help">
        <span v-if="poll.multipleVotes">Choose many answers:</span>
        <span v-else>Choose one answer:</span>
      </div>
      <div class="poll-view__votes">
        <div v-for="(answer, index) in poll.answers" :key="answer.id" class="answer">
          <label @click="selectAnswer(index)" class="checkbox">{{ answer.answer }}
            <input type="checkbox" v-model="poll.answers[index].voted" @change="multipleCheck(index)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="poll-view__submit">
        <button @click="vote">Vote</button>
      </div>
      <div class="poll-view__info" :class="{'success' : success === true, 'error' : success === false}"
           v-if="success !== null">
        <div v-if="success === true">Voted</div>
        <div v-if="success === false">Error</div>
      </div>
    </div>

    <b-modal size="xl" :ok-only="true" title="Survey finished" id="survey-finished" @hidden="afterFinishSurvey" >
      You answered all the questions in survey <b>{{ surveyTitle }}</b>. Your token is: <b>{{ voteToken }}</b>
      <br>Please copy token and use token encoder panel in left menu to see results.
    </b-modal>
  </div>
</template>

<script>
import PollService from "@/services/PollService";
import {bus} from './main';
import router from "@/router";
import AnswerWithQuestionNumber from "@/dto/AnswerWithQuestionNumber";

export default {
  name: "PollAnswer",
  props: {
    surveyTitle: {type: String, default: ""},
    modalShow: {type: Boolean, default: false},
    question: {type: String, default: ""},
    questionId: {type: Number, default: 0},
    options: {type: Array},
    multipleVotes: {type: Boolean, default: false},
    actualQuestionNumber: {type: Number, default: 0},
    numberOfQuestions: {type: Number, default: 0},
    saveVoteUrl: {
      type: String
    },
    getPollUrl: {
      type: String
    },
    demo: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      visible: true,
      voteToken: "",
      poll: {
        question: "What is your favourite <strong>PHP</strong> framework?",
        answers: [],
        multipleVotes: true,
      },
      selectedIndexes: [],
      totalVotes: 0,
      result: false,
      success: null,
      isValid: false
    };
  },

  mounted() {
    this.poll.multipleVotes = this.multipleVotes

    this.poll.answers = []
    for(let i=0; i< this.options.length; i++){
      let id = this.options[i].id;
      let name = this.options[i].name;
      this.poll.answers.push({id: id, answer: name});
    }

    this.poll.question = this.question;
  },
  methods: {

    selectAnswer(index){
      if(!this.selectedIndexes.includes(index)){
        this.selectedIndexes.push(index)
      }
    },

    afterFinishSurvey() {
      router.push("/survey-lists");
    },

    async vote() {
      this.validate()
      if (this.demo && this.isValid) {
        this.alert(true)
      } else {
        if (this.isValid) {
          let q = [];
          for(let i=0;i<this.selectedIndexes.length; i++){
            let selectedAnswer = this.options[this.selectedIndexes[i]];
            let data = new AnswerWithQuestionNumber();
            data.option = selectedAnswer;
            data.actualQuestionNumber = this.actualQuestionNumber;
            data.numberOfQuestions= this.numberOfQuestions;
            q.push(data)
          }

          this.voteToken = await PollService.vote(q);
          this.selectedIndexes = [];
          this.alert(true)

        } else {
          this.alert(false)
        }
      }
    },
    multipleCheck(index) {
      if (this.poll.multipleVotes === true) {
        return
      } else {
        const nrOfVotes = this.poll.answers.filter(ans => ans.voted === true).length
        if (nrOfVotes > 1) {
          this.poll.answers[index].voted = false;
        }
      }
    },
    validate() {
      const votes = this.poll.answers.filter(answer => answer.voted === true).map(answer => answer.id).length
      if (votes > 0) {
        if (votes > 1) {
          if (this.poll.multipleVotes === true) {
            this.isValid = true
          } else {
            this.isValid = false;
          }
        } else {
          this.isValid = true
        }
      } else {
        this.isValid = false
      }
    },
    alert(success) {
      if(this.isValid) {
        this.success = success
        setTimeout(() => {
          this.success = null
          this.result = success
          bus.$emit('show-next-question');
        }, 1500)
      }

    },

  },

};
</script>
<style lang="scss">
@import "./assets/vue-easy-polls.scss";
</style>
