<template>
  <div class="poll-view">
    <div class="poll-view__title">
      Question {{ questionNumber }}
    </div>
    <div class="poll-view__inner">
      <div class="poll-view__question">
        <input v-model="poll.question" type="text" placeholder="Your Question...">
      </div>
      <div class="poll-view__answers">
        <div v-for="(answer, index) in poll.answers" :key="index" class="answer"
             :style="{zIndex: poll.answers.length - index}">
          <input :placeholder="'Answer ' + (index + 1)" @focus="createNewInput(index)"
                 v-model="poll.answers[index].answer" type="text">
          <span class="delete" @click="deleteInput(index)">delete</span>
        </div>
      </div>
      <div class="poll-view__options">
        <label class="checkbox">Allow multiple votes
          <input v-model="poll.multipleVotes" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="poll-view__submit">
        <b-button  v-if="questionNumber === 1" @click="createPoll">Create</b-button>
        <b-button  v-else @click="createPoll">Next</b-button>
      </div>
      <div v-if="questionNumber > 1">
        <hr>
        <div class="poll-view__submit">
          <b-button  @click="finishSurvey" v-if="questionNumber > 1">Finish</b-button>
        </div>
      </div>

      <div class="poll-view__info" :class="{'success' : success === true, 'error' : success === false}"
           v-if="success !== null">
        <div v-if="success === true">Created</div>
        <div v-if="success === false">Error</div>
      </div>
    </div>

    <b-modal :ok-only="true" @hidden="afterFinishSurvey"
             title="Survey added" id="survey-added">
      Survey added!<br>Title: {{title}}<br>Number of questions: {{questionNumber - 1}}
    </b-modal>
    <b-modal :ok-only="true" title="The operation was unsuccessful" id="title-exists">{{titleExistsError}}</b-modal>
    <b-modal :ok-only="true" title="The operation was unsuccessful" id="answers">Too few answers. Please add min 2 answers to question.</b-modal>
  </div>
</template>

<script>

import PollService from "@/services/PollService";
import router from "@/router";
import SurveyData from "@/dto/SurveyData";

export default {
  name: "poll-creator",
  props: {
    demo: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ""
    },
    questionNumber: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      titleExistsError: "",
      poll: {
        question: "",
        answers: [],
        multipleVotes: false
      },
      isValid: false,
      success: null
    };
  },
  mounted() {
    if (this.poll.answers.length === 0) {
      this.poll.answers.push({answer: ""});
      this.poll.answers.push({answer: ""});
      this.poll.answers.push({answer: ""});
      this.poll.answers.push({answer: ""});
    }
  },
  methods: {
    createNewInput(index) {
      if (this.poll.answers.length - 1 === index) {
        this.poll.answers.push({answer: ""});
      }
    },
    deleteInput(index) {
      if (index > 0 || this.poll.answers.length > 1) {
        this.poll.answers.splice(index, 1);
      }
    },
    createPoll() {
      this.validate();

      // demo version
      if (this.demo && this.isValid) {
        this.alert(true)
        setTimeout(() => {
          this.resetPoll()
        }, 1500)
        // --------------------------------
      } else if (this.demo && !this.isValid) {
        this.alert(false)
        setTimeout(() => {
          this.resetPoll()
        }, 1500)
      } else {
        if (this.isValid) {
          let newSurvey = new SurveyData();
          newSurvey.poll = this.poll;
          newSurvey.title = this.title;
          newSurvey.questionNumber = this.questionNumber;

          PollService.savePollUrl(newSurvey)
              .then(() => {
                this.alert(true)
                setTimeout(() => {
                  this.resetPoll()
                }, 1500)
              })
              .catch((error) => {
                if(error instanceof PollService.surveyTitleException){
                  this.titleExistsError  = error.message;
                  this.$bvModal.show("title-exists");
                }
                this.alert(false)
                error.request?.res?.destroy()
              });
        } else {
          this.alert(false)
        }
      }
    },
    resetPoll() {
      this.poll.multipleVotes = false;
      this.poll.answers = [];
      this.poll.answers.push({answer: ""})
      this.poll.answers.push({answer: ""})
      this.poll.answers.push({answer: ""})
      this.poll.answers.push({answer: ""})
      this.poll.question = ""
      this.isValid = false
    },
    validate() {
      if (this.title.length < 1) {
        this.isValid = false;
        this.$emit('emptyTitle');
        return;
      }
      this.poll.answers = this.poll.answers.filter((answer) => {
        if (answer.answer.length > 0) {
          return answer;
        }
      });
      let count = this.poll.answers.length
      if (count > 1) {
        this.isValid = true;
      } else {
        this.isValid = false;
        this.$bvModal.show("answers");
        if (this.poll.question.length === 0) {
          this.resetPoll();
        }
      }
    },
    alert(success) {
      this.success = success
      setTimeout(() => {
        this.success = null
      }, 3000)
    },
    finishSurvey(){
      if(this.poll.question !== "" && this.poll.answers.length > 0){
        this.createPoll();
        setTimeout(() => {this.$bvModal.show("survey-added")}, 1500);
      }
      else{
        this.$bvModal.show("survey-added");
      }
    },

    afterFinishSurvey(){
      router.push("/survey-lists");
    }
  },

};

</script>

<style lang="scss">
@import "./assets/vue-easy-polls.scss";
</style>
