<template>
    <div >
        <div class="poll-view__title" v-html="poll.question"></div>
        <div v-if="result" class="poll-view__results">
            <div class="result" v-for="(answer, index) in this.poll.answers" :key="index">

                <div class="title">
                  <div style="position:absolute; margin-left: -35px" v-if="answer.id === answerId">
                    <b-icon
                        style="width:40px; height: 40px"
                            icon="check"
                            color="green">
                    </b-icon>
                  </div>
                  <div>{{ answer.answer }}</div>
                    <span class="percent">{{ calculatePercent(answer.votes)}}% </span>
                    <span class="votes">({{ answer.votes }} votes)</span>
                </div>
                <div class="bar">
                    <div :style="{width: calculatePercent(answer.votes) + '%'}"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import axios from 'axios'
// import PollService from "@/services/PollService";

export default {
    name: "poll-view",
    props: {
      surveyTitle: {type: String, default: ""},
      question: {type: String, default: ""},
      questionId: {type: Number, default: 0},
      answerId: {type: Number, default: 0},
      options: {type: Array},
      multipleVotes: {type: Boolean, default: false},
        demo: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            poll: {
                id: 1,
                question: "What is your favourite <strong>PHP</strong> framework?",
                answers: [
                    {id: 1, answer: "Laravel", votes: 14021},
                    {id: 2, answer: "Symfony", votes: 3210},
                    {id: 3, answer: "Phalcon", votes: 3231},
                    {id: 4, answer: "FuelPhp", votes: 2004},
                    {id: 5, answer: "Zend Framework", votes: 3132},
                    {id: 6, answer: "PHPixie", votes: 2131},
                    {id: 7, answer: "CakePHP", votes: 1222}
                ],
                multipleVotes: true,

            },
            totalVotes: 0,
            result: false,
            success: null,
            isValid: false
        };
    },
    mounted() {
      this.poll.multipleVotes = this.multipleVotes
      this.poll.answers = []
      if(this.options){
        for(let i=0; i< this.options.length; i++){
          let id = this.options[i].id;
          let name = this.options[i].name;
          let votes = this.options[i].votes;
          this.poll.answers.push({id: id, answer: name, votes: votes});
        }
      }

      this.poll.question = this.question;

      this.alert(true);
      this.calculateTotalVotes();
    },
    methods: {

        alert(success) {
            this.success = success
            setTimeout(() => {
                this.success = null
                this.result = success
            }, 0)
        },
        calculatePercent(votes) {
            return parseInt(10000 * votes / this.totalVotes) / 100;
        },
        calculateTotalVotes() {
            this.poll.answers.forEach((answer) => {
                this.totalVotes += answer.votes
                if (answer.voted) {
                    this.totalVotes += 1
                }
            })
        }
    }
};
</script>
<style lang="scss">
@import "./assets/vue-easy-polls.scss";
</style>
