<template>
  <div>
    <b-container>
      <b-row class="text-center">
        <b-col cols="12">
          Welcome to the application that allows you to take anonymous surveys.
        </b-col>
        <b-col cols="12">
          Register and log in for more opportunities.
<!--          Zarejestruj się i zaloguj, aby zyskać szersze możliwości.-->
        </b-col>
      </b-row>
    </b-container>
    <br>
  </div>
</template>

<script>
export default {
  name: "SignIn"
}
</script>

<style scoped>

</style>