<template>
  <b-container>
    <b-card>
      <b-card-text>
        <b-form v-on:keydown.enter="enterSaveTrigger">
          <b-form-group
              label="Login:"
              :state="form.loginValid"
              :invalid-feedback="form.loginFeedback"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.login"
                    placeholder="Enter login"
                    @keyup="validateLogin"
                    @focusout="validateLogin"
                ></b-form-input>
              </b-col>

            </b-row>
          </b-form-group>

          <b-form-group
              label="Email:"
              :state="form.emailValid"
              :invalid-feedback="form.emailFeedback"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.email"
                    placeholder="Enter email"
                    @keydown="validateEmail"
                    @focusout="validateEmail"
                ></b-form-input>
              </b-col>

            </b-row>
          </b-form-group>

          <b-form-group
              label="Password:"
              :state="form.passwordValid"
              :invalid-feedback="form.passwordFeedback"
              :description="!this.form.passwordFeedback ? 'min 6 characters' : ''"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.password"
                    type="password"
                    placeholder="Enter password"
                    @focusout="validatePassword"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group
              :state="form.password2Valid"
              :invalid-feedback="form.password2Feedback"
              label="Repeat password:"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.password2"
                    type="password"
                    placeholder="Repeat password"
                    @keyup="validatePassword"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-button
              variant="outline-info"
              :disabled="this.form.email === '' || !this.form.emailValid
              || !this.form.loginValid || !this.form.passwordValid || !this.form.password2Valid"
              @click.stop="save"
          >Save
          </b-button>
        </b-form>
      </b-card-text>
    </b-card>
    <b-modal title="Server error" id="error-login">Login is in used!</b-modal>
    <b-modal title="Successful operation" id="success-edit">Your data has been successfully saved!</b-modal>
  </b-container>
</template>

<script>
import User from "@/api/model/User";
import UserDataService from "@/services/UserDataService";
import {MIN_LOGIN_LENGTH, MIN_PASSWORD_LENGTH, MAX_LOGIN_LENGTH, MAX_PASSWORD_LENGTH, MAX_INPUT_LENGTH} from "@/config";
import {bus} from '@/main'

export default {
  name: "MyAccount",

  async mounted() {
    this.user = await UserDataService.getUserSession();
    if (this.user) {
      this.form.login = this.user.login;
      this.form.email = this.user.email;
    }
  },

  methods: {

    async enterSaveTrigger(event) {
      if (event.key === 'Enter') {
        await this.save();
      }

    },

    async validateLogin() {
      if (this.form.login.length === 0 && this.user.login.length > 0) {
        this.form.loginFeedback = "Login can't be empty";
        this.form.loginValid = false;
      } else if (this.form.login.length > 0 && this.form.login !== this.user.login) {
        setTimeout(async () => {
          if (this.form.login.length < MIN_LOGIN_LENGTH) {
            this.form.loginFeedback = "Login must contains min 3 characters";
            this.form.loginValid = false;
            return;
          }
          let isLoginInUsed = await UserDataService.validateLogin(this.form.login);
          if (isLoginInUsed) {
            this.form.loginFeedback = "Login is already in used.";
            this.form.loginValid = false;
          } else {
            this.form.loginFeedback = "";
            this.form.loginValid = true;
          }
        }, 100);
      } else {
        this.form.loginFeedback = "";
        this.form.loginValid = true;
      }
    },

    async validateEmail() {
      setTimeout(async () => {
        if (this.form.email.length > 0) {
          let isCorrectDomain = await UserDataService.validateEmailDomain(this.form.email);
          if (!isCorrectDomain) {
            this.form.emailValid = false;
            this.form.emailFeedback = "Incorrect email address without domain";
          } else {
            this.form.emailValid = true;
            this.form.emailFeedback = "";
          }

          if (this.form.emailValid && this.mode === "Sign Up") {
            let isEmailInUsed = await UserDataService.validateEmail(this.form.email);
            if (isEmailInUsed) {
              this.form.emailValid = false;
              this.form.emailFeedback = "An account with this email address already exists";
            } else {
              this.form.emailValid = true;
              this.form.emailFeedback = "";
            }
          }
        } else {
          this.form.emailValid = false;
          this.form.emailFeedback = "Email can't be empty";
        }
      }, 600)
    },

    validatePassword() {
      if (!(this.form.password === this.form.password2)) {
        this.form.password2Feedback = "Password must be the same";
        this.form.password2Valid = false;
      } else {
        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }
      if (this.form.password.length > 0 && this.form.password.length < MIN_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password must contains min 6 characters";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
    },

    validate(login, password, password2) {
      this.validateEmail();
      if (!(password === password2)) {
        this.form.password2Feedback = "Password must be the same";
        this.form.password2Valid = false;
      } else {

        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }
      if (password.length > 0 && password.length < MIN_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password must contains min 6 characters";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
      if (this.form.login.length > 0 && login.length < MIN_LOGIN_LENGTH) {
        this.form.loginFeedback = "Login must contains min 3 characters";
        this.form.loginValid = false;
      } else {
        this.form.loginFeedback = "";
        this.form.loginValid = true;
      }
      this.optionalValidateTooLongInput();
    },

    optionalValidateTooLongInput() {
      if (this.form.email.length >= MAX_INPUT_LENGTH) {
        this.form.emailFeedback = "Email address is too long.";
        this.form.emailValid = false;
      } else {
        this.form.emailFeedback = "";
        this.form.emailValid = true;
      }
      if (this.form.login.length >= MAX_LOGIN_LENGTH) {
        this.form.loginFeedback = "Login is too long.";
        this.form.loginValid = false;
      } else {
        this.form.loginFeedback = "";
        this.form.loginValidog = true;
      }
      if (this.form.password.length >= MAX_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password is too long.";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
      if (this.form.password2.length >= MAX_PASSWORD_LENGTH) {
        this.form.password2Feedback = "Password is too long.";
        this.form.password2Valid = false;
      } else {
        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }

    },

    async save() {
      setTimeout(async () => {
        let userData = new User();
        userData.email = this.form.email;
        userData.login = this.form.login;
        userData.password = this.form.password;
        userData.password2 = this.form.password2;

        this.validate(this.form.login, this.form.password, this.form.password2);
        if (this.form.loginValid && this.form.passwordValid && this.form.password2Valid) {
          if (userData.login !== this.user.login || userData.email !== this.user.email || userData.password.length > 0) {
            this.user = await UserDataService.editMyAccount(this.user.id, userData);
            if (this.user) {
              this.$bvModal.show("success-edit");
              await bus.$emit('account-changed', this.user);
              this.form.login = this.user.login;
              this.form.password = "";
              this.form.password2 = "";
            } else {
              this.$bvModal.show("error-login");
            }
          }

        }
      }, 100);

    },

  },

  data: () => ({
    user: null,
    form: {
      login: "",
      email: "",
      password: "",
      password2: "",
      loginFeedback: "",
      emailFeedback: "",
      loginValid: true,
      emailValid: true,
      passwordFeedback: "",
      passwordValid: true,
      password2Feedback: "",
      password2Valid: true,
    },
  })
}
</script>

<style scoped>

</style>