<template>
  <b-container>
    <div class="poll-view__question">
      <input v-model="title" type="text" placeholder="Enter a title for your new survey">
      <label style="color: red" v-if="isTitleError">Title can't be empty</label>
    </div>

    <poll-creator
        @emptyTitle="setErrorMessage"
        :question-number="questionNumber"
        :title="title"
    />

  </b-container>
</template>


<script>
import PollCreator from "@/PollCreator";

const {bus} = require("@/main");


export default {
  name: 'PollCreatorService',
  components: {
    PollCreator,
  },

  mounted() {
    bus.$on('new-poll', () => {
      this.questionNumber++;
      if (this.questionNumber > 1) {
        this.isTitleError = false;
      }
    });
  },

  methods: {
    setErrorMessage() {
      this.isTitleError = true;
    },
  },

  data: () => ({
    title: "",
    isTitleError: false,
    questionNumber: 1,
  })

}
</script>