<template>
  <b-container>
    <div class="poll-view__question">
      <input :disabled="true" v-model="inputText">
    </div>

    <poll-answer
        :modal-show="modalShow"
        v-if="active"
        :question="actualQuestion"
        :options="actualOptions"
        :multiple-votes="actualMultipleVotes"
        :question-id="actualQuestionId"
        :number-of-questions="numberOfQuestions"
        :actual-question-number="actualQuestionNumber"
        :survey-title="title"
    >
    </poll-answer>

  </b-container>
</template>



<script>
import PollAnswer from "@/PollAnswer";
import {bus} from '@/main';
import PollService from "@/services/PollService";

export default {
  name: 'PollAnswerService',
  components: {
    PollAnswer
  },

  mounted() {
    bus.$on('open-poll-answer-service',  (title) => {
      this.title = title;
    });

    bus.$on('show-next-question',  () => {
      if(this.lists?.length > 0){
        this.actualQuestionNumber++;
        if(this.actualQuestionNumber > this.lists.length){
          this.finishSurvey();
        }
        else{
          this.actualOptions = this.lists[this.actualQuestionNumber-1].options;
          this.actualMultipleVotes = this.lists[this.actualQuestionNumber-1].multipleVotes;
          this.actualQuestion = this.lists[this.actualQuestionNumber-1].question;
          this.actualQuestionId = this.lists[this.actualQuestionNumber-1].id;
          this.active = false;
          setTimeout(() => {this.active = true;}, 10);
        }

      }
    });
  },

  methods: {
    setErrorMessage() {
      this.isTitleError = true;
    },

    async finishSurvey() {
      await this.$bvModal.show("survey-finished");
      this.modalShow = true;
    },

  },

  watch: {
    title: async function () {
      this.inputText = "Survey: " + this.title;
      this.lists = await PollService.getQuestionsFromSurvey(this.title);

      this.numberOfQuestions = this.lists.length;
      this.actualQuestionNumber = 1;
      this.actualOptions = this.lists[0].options;
      this.actualMultipleVotes = this.lists[0].multipleVotes;
      this.actualQuestion = this.lists[0].question;
      this.actualQuestionId = this.lists[0].id;
      this.active = true;
    },
  },

  data: () => ({
    modalShow: false,
    active: false,
    actualQuestion: "",
    actualQuestionId: null,
    actualMultipleVotes: false,
    actualOptions: [],
    actualQuestionNumber: 0,

    numberOfQuestions: 0,

    answers: [],
    lists: [],
    inputText: "" ,
    title: "",
  })

}
</script>