<template>
  <b-container>
    <h1>Sign in and enjoy with more features</h1>
    <b-card>
      <b-card-text>
        <b-form v-on:keydown.enter="SignInOrSignUp">
          <b-form-group
              v-if="mode === 'Sign In'"
              label="Login/Email:"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.loginOrEmail"
                    placeholder="Enter login or email"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group
              v-if="mode === 'Sign Up'"
              label="Email:"
              :state="form.emailValid"
              :invalid-feedback="form.emailFeedback"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    v-model="form.email"
                    placeholder="Enter email"
                    @keydown="validateEmail"
                ></b-form-input>
              </b-col>

            </b-row>
          </b-form-group>

          <b-form-group
              label="Password:"
              :state="form.passwordValid"
              :invalid-feedback="form.passwordFeedback"
              :description="!this.form.passwordFeedback && this.mode === 'Sign Up' ? 'min 6 characters' : ''"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    ref="inputPassword"
                    v-model="form.password"
                    type="password"
                    placeholder="Enter password"
                    @focusout="validatePassword"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group
              v-if="mode === 'Sign Up'"
              :state="form.password2Valid"
              :invalid-feedback="form.password2Feedback"
              label="Repeat password"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    ref="inputPassword2"
                    v-model="form.password2"
                    type="password"
                    placeholder="Repeat password"
                    @keyup="validatePassword"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>

          <b-form-group
              v-if="mode === 'Sign Up'"
              :label="number + ' + ' + number2 + ' = ?'"
              :state="form.numberValid"
              :invalid-feedback="form.numberFeedback"
          >
            <b-row class="pl-3 pr-3">
              <b-col class="p-0">
                <b-form-input
                    ref="inputAnswer"
                    v-model="numberAnswer"
                    type="number"
                    placeholder="Answer the question"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-form-group>
          <b-row>
            <b-col cols="12">
              <label class="text-danger" v-if="signInFeedback">Bad email/password</label>
            </b-col>
          </b-row>
          <b-button
              variant="outline-info"
              v-if="mode === 'Sign In'"
              :disabled="this.form.loginOrEmail === '' || this.form.password === ''"
              @click="signIn"
          >Sign In
          </b-button>
          <b-button
              v-else
              ref="btn-sign-up"
              variant="outline-info"
              :disabled="this.form.email === '' || this.form.password === '' || this.form.password2 === ''
                || !this.form.emailValid || !this.form.passwordValid || !this.form.password2Valid
                ||this.numberAnswer === ''"
              @click="signUp"
          >Sign Up
          </b-button>
        </b-form>
        <b-link v-if="mode === 'Sign In'" @click.stop="goToSignUp">Don't have an account? Go to Sign Up</b-link>
        <b-link v-else @click.stop="goToSignIn"> Do you already have an account? Go to Sign In</b-link>
      </b-card-text>
    </b-card>
    <b-modal title="Server error" :ok-only="true" id="error-login">Login is in used!</b-modal>
  </b-container>
</template>

<script>
import User from "@/api/model/User";
import UserDataService from "@/services/UserDataService";
import {MIN_LOGIN_LENGTH, MIN_PASSWORD_LENGTH, MAX_LOGIN_LENGTH, MAX_INPUT_LENGTH, MAX_PASSWORD_LENGTH} from "@/config";
import {bus} from '@/main';
import router from "@/router";

export default {
  name: "SignIn",

  mounted() {
    this.number = Math.floor(Math.random() * 10);
    this.number2 = Math.floor(Math.random() * 10);
  },

  methods: {

    async SignInOrSignUp(event) {
      if (event.key === 'Enter' && this.mode === 'Sign In') {
        await this.signIn();
      } else if (event.key === 'Enter' && this.mode === 'Sign Up') {
        await this.signUp();
      }
    },

    async goToSignUp() {
      this.signInFeedback = false;
      this.mode = "Sign Up";
      this.clearData();
      await this.validateLogin();
    },

    goToSignIn() {
      this.mode = "Sign In";
      this.clearData();
    },

    clearData() {
      this.form.password = "";
      this.form.password2 = "";
      this.form.loginFeedback = "";
      this.form.passwordFeedback = "";
      this.form.password2Feedback = "";
    },

    async validateEmail() {
      setTimeout(async () => {
        if (this.form.email.length > 0) {
          let isCorrectDomain = await UserDataService.validateEmailDomain(this.form.email);
          if (!isCorrectDomain) {
            this.form.emailValid = false;
            this.form.emailFeedback = "Incorrect email address without domain";
          } else {
            this.form.emailValid = true;
            this.form.emailFeedback = "";
          }

          if (this.form.emailValid && this.mode === "Sign Up") {
            let isEmailInUsed = await UserDataService.validateEmail(this.form.email);
            if (isEmailInUsed) {
              this.form.emailValid = false;
              this.form.emailFeedback = "An account with this email address already exists";
            } else {
              this.form.emailValid = true;
              this.form.emailFeedback = "";
            }
          }
        } else {
          this.form.emailValid = true;
          this.form.emailFeedback = "";
        }
      }, 500)
    },

    async validateLogin() {
      if (this.form.login.length >= MIN_LOGIN_LENGTH && this.mode === "Sign Up") {
        setTimeout(async () => {
          let isLoginInUsed = await UserDataService.validateLogin(this.form.login);
          if (isLoginInUsed) {
            this.form.loginFeedback = "Login is already in used.";
            this.form.loginValid = false;
          } else {
            this.form.loginFeedback = "";
            this.form.loginValid = true;
          }
        }, 100);
      }
    },

    validatePassword() {
      if (!(this.form.password === this.form.password2)) {
        this.form.password2Feedback = "Password must be the same";
        this.form.password2Valid = false;
      } else {
        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }
      if (this.form.password.length < MIN_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password must contains min 6 characters";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
    },

    validate(email, password, password2) {
      this.validateEmail(email);
      this.validatePasswords(password, password2);
      this.optionalValidateTooLongInput();
    },

    optionalValidateTooLongInput() {
      if (this.form.email.length >= MAX_INPUT_LENGTH) {
        this.form.emailFeedback = "Email address is too long.";
        this.form.emailValid = false;
      } else {
        this.form.emailFeedback = "";
        this.form.emailValid = true;
      }
      if (this.form.login.length >= MAX_LOGIN_LENGTH) {
        this.form.loginFeedback = "Login is too long.";
        this.form.loginValid = false;
      } else {
        this.form.loginFeedback = "";
        this.form.loginValidog = true;
      }
      if (this.form.password.length >= MAX_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password is too long.";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
      if (this.form.password2.length >= MAX_PASSWORD_LENGTH) {
        this.form.password2Feedback = "Password is too long.";
        this.form.password2Valid = false;
      } else {
        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }

    },

    validatePasswords(password, password2) {
      if (!(password === password2)) {
        this.form.password2Feedback = "Password must be the same";
        this.form.password2Valid = false;
      } else {

        this.form.password2Feedback = "";
        this.form.password2Valid = true;
      }
      if (password.length < MIN_PASSWORD_LENGTH) {
        this.form.passwordFeedback = "Password must contains min 6 characters";
        this.form.passwordValid = false;
      } else {
        this.form.passwordFeedback = "";
        this.form.passwordValid = true;
      }
    },

    async signIn() {
      let userData = new User();
      userData.password = this.form.password;
      if (this.form.loginOrEmail.includes("@")) {
        userData.email = this.form.loginOrEmail;
      } else {
        userData.login = this.form.loginOrEmail;
      }
      this.user = await UserDataService.signIn(userData)
      if (this.user) {
        await bus.$emit('sign-in', this.user);
        await router.push("/survey-lists");
      } else {
        this.signInFeedback = true;
      }

    },

    async signUp() {
      let userData = new User();
      userData.email = this.form.email;
      userData.password = this.form.password;
      userData.password2 = this.form.password2;

      this.validate(this.form.email, this.form.password, this.form.password2);
      if (this.number + this.number2 != this.numberAnswer) {
        this.form.numberValid = false;
        this.form.numberFeedback = "Incorrect answer to the question";
      } else {
        if (this.form.email && this.form.passwordValid && this.form.password2Valid) {
          this.user = await UserDataService.signUp(userData);
          if (this.user) {
            this.user = await UserDataService.signIn(this.user);
            if (this.user) {
              await bus.$emit('sign-in', this.user);
              await router.push("/survey-lists");
            } else {
              this.signInFeedback = true;
            }
          } else {
            this.$bvModal.show("error-login");
          }
        }
      }
    },
  },

  data: () => ({
    user: null,
    signInFeedback: false,
    form: {
      login: "",
      loginOrEmail: "",
      email: "",
      password: "",
      password2: "",
      loginFeedback: "",
      emailFeedback: "",
      loginValid: true,
      emailValid: true,
      passwordFeedback: "",
      passwordValid: true,
      password2Feedback: "",
      password2Valid: true,
      numberFeedback: "",
      numberValid: true
    },
    number: 0,
    number2: 0,
    numberAnswer: 0,
    mode: "Sign In",
  })
}
</script>

<style scoped>

</style>