<template>
  <b-container>
    <b-row>
      <b-col cols="12" class="text-center pb-4"><h1>List of available surveys</h1></b-col>
      <b-col>
        <ul class="list-group">
          <b-link
              v-for="item of listOfSurveysInfo" v-bind:key="item.title"
              class="list-group-item d-flex justify-content-between align-items-center"
              @click="openSurvey(item.title)"
          >
            <b-icon v-if="adminOrOwnerRole"
                    style="width: 25px; height: 25px;"
                    @click.stop="deleteSurvey(item.title)"
                    icon="trash"
                    color="red">
            </b-icon>
            <h4>{{ item.id }}. {{ item.title }}</h4>
            <span class="badge badge-primary badge-pill">{{ item.questionNumber }}</span>
          </b-link>
        </ul>
      </b-col>
    </b-row>

    <b-modal title="Deleting survey" id="del-survey" @ok="deleteSurveySubmit(selectedTitle)">
      Are you sure, do you want remove {{selectedTitle}} survey?
    </b-modal>
  </b-container>
</template>

<script>

import PollService from "@/services/PollService";
import SurveyTitleWithQuestionNumber from "@/dto/SurveyTitleWithQuestionNumber";
import {bus} from '@/main';
import UserDataService from "@/services/UserDataService";
import router from "@/router";

export default {
  name: "SurveyLists",

  async mounted() {
    bus.$on('open-survey-lists', async () => await this.getSurveyLists());

    this.user = await UserDataService.getUserSession();
    if (this.user) {
      this.adminOrOwnerRole = await UserDataService.checkIfUserIsAdminOrOwner(this.user.id);
    }

    await this.getSurveyLists();
  },

  methods: {

    async deleteSurvey(title) {
      this.selectedTitle = title;
      this.$bvModal.show("del-survey");
    },

    async deleteSurveySubmit(title) {
      if (await PollService.deleteSurvey(title)) {
        await this.getSurveyLists();
      }
    },


    async getSurveyLists() {
      this.lists = await PollService.getAllSurveys();
      this.listOfSurveysInfo = [];
      for (let i = 0; i < this.lists.length; i++) {
        let title = this.lists[i].survey.title;
        let surveyInfo = new SurveyTitleWithQuestionNumber();
        surveyInfo.id = this.lists[i].id;
        surveyInfo.title = title;
        surveyInfo.questionNumber = this.lists[i].numberOfQuestion;
        this.listOfSurveysInfo.push(surveyInfo);
      }
    },

    async openSurvey(title) {
      await router.push("/poll-answer-service");
      await bus.$emit('open-poll-answer-service', title);
    }
  },

  data: () => ({
    selectedTitle: "qq",
    user: null,
    adminOrOwnerRole: false,
    lists: [],
    listOfSurveysInfo: [],
  })
}
</script>

