<template>
  <div>

    <b-container v-if="!pollsSize">
      <b-row>
        <b-col cols="12" class="text-center" v-if="isInvalidToken">
          <h1 class="text-center pb-5">Paste your survey token and view results</h1>
          <h1 class="text-center bg-danger">Invalid token <br>Possible attempt to interfere with the database</h1>
        </b-col>
      </b-row>
      <b-form v-on:keydown.enter="validateTokenTrigger">
        <b-row class="d-none d-lg-block center-of-page">
          <b-col cols="12">
            <div class="poll-view__question">
              <b-form-input v-model="token" type="text" placeholder="Enter your token"></b-form-input>
            </div>
          </b-col>
          <b-container class="p-0">
            <b-row no-gutters>
              <b-col class="text-center" cols="12">
                <b-button v-model="token" @click="validateToken" variant="outline-info" type="button"
                          class="btn-lg btn-block">Encode your token
                </b-button>
              </b-col>
            </b-row>
          </b-container>
        </b-row>
        <b-row class="d-block d-lg-none">
          <b-col cols="12">
            <div class="poll-view__question">
              <b-form-input autocomplete="off" v-model="token" type="text"
                            placeholder="Enter your token"></b-form-input>
            </div>
          </b-col>
          <b-container class="p-0">
            <b-row no-gutters>
              <b-col class="text-center" cols="12">
                <b-button @click="validateToken" variant="outline-info" type="button" class="btn-lg btn-block">Encode
                  your token
                </b-button>
              </b-col>
            </b-row>
          </b-container>
        </b-row>
      </b-form>
    </b-container>
    <b-container v-else style="padding-bottom: 100px" >
      <b-row v-for="(item,index) in polls" v-bind:key="item.id">
        <b-col cols="12">
          <PollView :question="item.question"
                    :multiple-votes="item.multipleVotes"
                    :options="item.options"
                    :answer-id="answers[index].optionId"
                    :demo="true"></PollView>
        </b-col>
        <b-col v-if="index < polls.length -1" cols="12">
          <div style="max-width: 97%" class="poll-view"></div>
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
import PollView from "@/PollView";
import PollService from "@/services/PollService";
import {bus} from '@/main';

export default {
  name: "TokenEncoder",
  components: {
    PollView
  },

  async mounted() {
    bus.$on('refresh-token-info', async () =>{this.pollsSize = 0; this.token = ""; this.isInvalidToken=false;});
  },

  methods: {

    async validateTokenTrigger(event) {
      if (event.key === 'Enter') {
        await this.validateToken();
      }
    },

    async validateToken() {
      if(this.token !== ""){
        this.polls = await PollService.getSurveyByToken(this.token);
        this.answers = await PollService.getAnswersByToken(this.token);
        this.isInvalidToken = !this.polls;
        if (this.polls) {
          this.pollsSize = this.polls.length;
        } else {
          this.pollsSize = 0;
        }
      }
    }
  },
  data: () => ({
    polls: [],
    answers: [],
    pollsSize: 0,
    isInvalidToken: false,
    token: ""
  })
}

</script>

<style lang="scss">
@import "src/assets/vue-easy-polls";

.center-of-page {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
</style>
