<template>
  <b-container>
    <b-form-group label="Table Options" label-cols-lg="2" v-slot="{ ariaDescribedby }">
      <b-form-checkbox v-model="striped" :aria-describedby="ariaDescribedby" inline>Striped</b-form-checkbox>
      <b-form-checkbox v-model="bordered" :aria-describedby="ariaDescribedby" inline>Bordered</b-form-checkbox>
      <b-form-checkbox v-model="borderless" :aria-describedby="ariaDescribedby" inline>Borderless</b-form-checkbox>
      <b-form-checkbox v-model="outlined" :aria-describedby="ariaDescribedby" inline>Outlined</b-form-checkbox>
      <b-form-checkbox v-model="small" :aria-describedby="ariaDescribedby" inline>Small</b-form-checkbox>
      <b-form-checkbox v-model="hover" :aria-describedby="ariaDescribedby" inline>Hover</b-form-checkbox>
      <b-form-checkbox v-model="dark" :aria-describedby="ariaDescribedby" inline>Dark</b-form-checkbox>
      <b-form-checkbox v-model="fixed" :aria-describedby="ariaDescribedby" inline>Fixed</b-form-checkbox>
      <b-form-checkbox v-model="footClone" :aria-describedby="ariaDescribedby" inline>Foot Clone</b-form-checkbox>
      <b-form-checkbox v-model="noCollapse" :aria-describedby="ariaDescribedby" inline>No border collapse
      </b-form-checkbox>
    </b-form-group>

    <b-form-group label="Head Variant" label-cols-lg="2" v-slot="{ ariaDescribedby }">
      <b-form-radio-group
          v-model="headVariant"
          :aria-describedby="ariaDescribedby"
          class="mt-lg-2"
      >
        <b-form-radio :value="null" inline>None</b-form-radio>
        <b-form-radio value="light" inline>Light</b-form-radio>
        <b-form-radio value="dark" inline>Dark</b-form-radio>
      </b-form-radio-group>
    </b-form-group>

    <b-row class="pb-2">
      <b-col class="text-center" cols="12">
        <b-button variant="outline-info" @click="resetAll" class="bg-active">Resest all</b-button>
      </b-col>
    </b-row>

    <b-form-group label="Table Variant" label-for="table-style-variant" label-cols-lg="2">
      <b-row>
        <b-col cols="12">
          <b-form-select
              id="table-style-variant"
              v-model="tableVariant"
              :options="tableVariants"
          >
            <template #first>
              <option value="">-- None --</option>
            </template>
          </b-form-select>
        </b-col>
      </b-row>
    </b-form-group>



    <b-row>
      <b-col>
        <b-navbar class="my-footer" style="padding-bottom: 40px" variant="outline-info">
          <b-row>
            <b-col>
              <b-button @click="changeAdminRole" :disabled="!selectedUser" style="width: 140px;" variant="outline-info">
                {{ adminButtonLabel }}
              </b-button>
            </b-col>
            <b-col>
              <b-button style="width: 140px;" @click="deleteAccount" :disabled="!selectedUser" variant="outline-info">
                Delete account
              </b-button>
            </b-col>
          </b-row>
        </b-navbar>

      </b-col>
    </b-row>
    <b-table
        style="width:100%;"
        :tbody-tr-class="rowClass"
        :striped="striped"
        :bordered="bordered"
        :borderless="borderless"
        :outlined="outlined"
        :small="small"
        :hover="hover"
        :dark="dark"
        :fixed="fixed"
        :foot-clone="footClone"
        :no-border-collapse="noCollapse"
        :items="items"
        :fields="fields"
        :head-variant="headVariant"
        :table-variant="tableVariant"
        selectable
        select-mode="single"
        @row-selected="onRowSelected"
    ></b-table>
    <b-modal title="Deleting account" id="del-account" @ok="deleteAccountSubmit">
      Are you sure, do you want delete this account?
    </b-modal>

    <b-modal title="Deleting account" id="del-error" @ok="deleteAccountSubmit">
      Server error - operation wasn't finished successful.
    </b-modal>

    <b-modal title="Adding admin role" id="add-admin" @ok="addAdminRoleSubmit">
      Are you sure, do you want add admin role?
    </b-modal>

    <b-modal title="Deleting admin role" id="del-admin" @ok="deleteAdminRoleSubmit">
      Are you sure, do you want remove admin role?
    </b-modal>
  </b-container>

</template>

<script>

import UserDataService from "@/services/UserDataService";

export default {
  name: "UsersManagement",

  async created() {
    await this.refresh();
  },

  mounted() {

  },

  methods: {
    async refresh() {
      this.items = await UserDataService.getUsers();
      let userRole;
      for (let i = 0; i < this.items.length; i++) {
        userRole = await UserDataService.getRole(this.items[i].roleId);
        this.items[i].roleId = userRole.name;
      }
    },
    resetAll() {
      this.striped = false;
      this.bordered = false;
      this.borderless = false;
      this.outlined = false;
      this.small = false;
      this.hover = false;
      this.dark = false;
      this.fixed = false;
      this.footClone = false;
      this.headVariant = null;
      this.tableVariant = '';
      this.noCollapse = false;
    },
    onRowSelected(item) {
      this.selectedUser = item[0];
    },

    deleteAccount() {
      this.$bvModal.show("del-account");
    },

    async deleteAccountSubmit() {
      let res = await UserDataService.deleteUser(this.selectedUser.id);
      if (res) {
        await this.refresh();
      } else {
        this.$bvModal.show("del-error");
      }
    },

    changeAdminRole() {
      if (this.adminButtonLabel === 'Add admin') {
        this.$bvModal.show("add-admin");
      } else {
        this.$bvModal.show("del-admin");
      }
    },

    async addAdminRoleSubmit() {
      let res = await UserDataService.addAdmin(this.selectedUser.id);
      if (res) {
        await this.refresh();
      }
    },

    async deleteAdminRoleSubmit() {
      let res = await UserDataService.deleteAdmin(this.selectedUser.id);
      if (res) {
        await this.refresh();
      }
    },

    rowClass(item, type) {
      if (!item || type !== 'row') return
      if (item.roleId === 'Admin') return 'table-success'
    }


  },

  watch: {
    selectedUser: async function () {
      if (this.selectedUser) {
        let adminRole = await UserDataService.getAdminRole();
        if (this.selectedUser.roleId === adminRole.name) {
          this.adminButtonLabel = "Remove admin"
        } else {
          this.adminButtonLabel = "Add admin";
        }
      }
    },
  },


  data: () => ({
    selectedUser: null,
    adminButtonLabel: "Add admin",
    fields: ['id', 'login', 'email',
      {
        key: 'roleId',
        label: 'Role',
      },
      'login',
    ],
    items: [],
    tableVariants: [
      'primary',
      'secondary',
      'info',
      'danger',
      'warning',
      'success',
      'light',
      'dark'
    ],
    striped: false,
    bordered: false,
    borderless: false,
    outlined: false,
    small: false,
    hover: false,
    dark: false,
    fixed: false,
    footClone: false,
    headVariant: null,
    tableVariant: '',
    noCollapse: false
  })
}
</script>

<style>


.my-footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
</style>
